.social-nav{
    margin-top: -20px;
}
.social-nav .fa{
    font-size: 25px;
    float: top;
}

.social-nav a{
	color: black;
    line-height: 0px;
}

.fa-facebook:hover{
    color: #3B5998;
}

.fa-github-alt:hover{
    color: #6e5494;
}

.fa-twitter:hover{
    color: #0084b4;
}

.fa-instagram:hover{
    color: #fb3958;
}

.fa-google-plus:hover{
    color: #dd4b39;
}

.fa-envelope:hover{
    color: #fcaf45;
}

@media (max-width: 576px)
{
    .social-nav{
        margin-right: 10px;
    }
    .social-nav .fa{
        font-size: 15px;
        float: top;
    }
}