p {
  font-family: 'Roboto';
  color:black;
  font-size: 20px;
}

ul {
  font-family: 'Roboto';
  color:black;
  font-size: 20px;
}
.intro {
  background: url(banner.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.aboutme {
  background: white;
}

.container-fluid .jumbotron {
  border-radius: 4px;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.4);
  margin: 20px;
}

h1,h2 {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  text-align: center;
}

.container-fluid .jumbotron h1 {
  font-size: 5vh;
}

.container-fluid .jumbotron small {
  font-family: 'Roboto';
  font-size: 2.5vh;
  text-align: center;
}

.container-fluid .jumbotron img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 10vh;
  width: 10vh;
}

.coloring {
  color: #D91E18;
  font-weight: bold;
}

.sm-icon {
  height: 10vh;
  width: 10vh;
  margin: 20px;
  display: none;
}

.list-group-item
{
  overflow:hidden;  
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.badge{
  margin: 10px;
  background: #D91E18;
  color: white;
  float:left;
}

.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(90, 90, 90, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align: left;
    color:#fff !important;
    z-index:2;
}

.caption h2 {
  color:white;
}

.caption p {
  color:white;
}

.bg {
  background: white;
  margin: 0px;
}

@media screen and (max-width: 1000px) and (orientation: portrait) {

   .container-fluid .jumbotron {
      border-radius: 4px;
      box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.4);
      background: white;
      margin-top: 50vh;
  }

  .container-fluid .jumbotron img{
    display: none;
  }

  .sm-icon {
    display: block;
  }

}

@media screen and (max-width: 1000px) and (orientation: landscape) {
  
   .container-fluid .jumbotron {
      border-radius: 4px;
      box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.4);
      margin: 20px;
      width: 40vw;
  }

}


@media screen and (max-width: 330px) and (orientation: portrait) {

   .container-fluid .jumbotron {
      border-radius: 4px;
      box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.4);
      background: white;
      margin-top: 45vh;
  }

  .container-fluid .jumbotron img{
    display: none;
  }

  .sm-icon {
    display: block;
  }

}



