html
{

}

body
{

}

.jumbotron {
    margin-bottom: 0px;
    height: 97vh;
    border-radius: 0px;
   /* background-image: url(../assets/wall.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;*/
    background: white;
    color: #212121;
    font-family: 'Kalam', cursive;
}

.name {
    font-size: 100px;
    font-family: 'Roboto';
    font-weight: 700;
}

.sub-name{
    font-family:'Roboto Mono', monospace;
}

.typething{
    padding: 0px;
    margin: 0px;
    background: red;
    height: 30vh;
    font-family: 'Roboto';
    font-weight: 600;
    color: rgba(255, 255, 255, 1.0);
    font-size: 50px;
    text-align: center;
}

.wrap{
    display: inline-block;
    margin: 10px 10px 0 0;
    padding: 5px 10px;
    margin-top: 10vh;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}