html
{

}

body
{

}

.jumbotron {
    margin-bottom: 0px;
    height: 97vh;
    border-radius: 0px;
    background-image: url(../assets/temp.png);
    background-position: right;
    background-size: 568px 750px;
    background-repeat: no-repeat;
    color: #212121;
    background-color: white;
    padding-right: 30px;
}

.intro{
    margin-top: 17vh;
    font-family: 'Rochester', cursive;
    font-size: 70px;
}
.name {
    font-size: 120px;
    font-family: 'Roboto';
    font-weight: 700;
}

.sub-name{
    font-family:'Roboto';
    font-weight: 600;
    font-size: 18px;
}

.typething{
    padding: 0px;
    margin: 0px;
    background: #2196F3;
    height: 40vh;
    font-family: 'Roboto';
    font-weight: 600;
    color: rgba(255, 255, 255, 1.0);
    font-size: 50px;
    text-align: center;
}

.element0{
    font-family: 'Roboto';
    font-weight: 400;
}

.wrap{
    display: inline-block;
    margin: 10px 10px 0 0;
    padding: 5px 10px;
    margin-top: 15vh;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.about-header{
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 80px;
    margin: 30px;
    margin-top: 50px;
    margin-left: 100px;
}

.about-content{
    margin: 40px;
    margin-left: 100px;
    margin-top: 10px;
    font-family: 'Roboto';
    font-size: 20px;
}

.profile{
    margin: 0px;
    padding: 0px;
    margin-top: -120px;
    margin-bottom: 30px;
    box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}